.contentContainer {
  flex: 4;
  margin: 24px;
  background: white;
  border-radius: 8px;
  box-shadow: -4px -4px 16px #d5d5d5, 4px 4px 16px #d5d5d5;
  height: auto;
  min-height: calc(100% - 55px);
}
