.widget-small {
  flex: 1;
  padding: 20px;
  border: 2px solid rgba(187, 184, 184, 0.5);
  border-radius: 10px;
}

.widget-small-title {
  font-size: 32px;
  font-weight: 600;
}

.widget-small-list li:nth-child(2n) {
  background: rgba(248, 219, 219, 0.616);
  border-radius: 10px;
  transition: 0.6s;
}

.widget-small-list-item {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  padding: 10px 10px;
  transition: 0.6s;
  cursor: pointer;
}

.widget-small-list-item:hover {
  background: rgba(248, 219, 219, 0.616);
  border-radius: 10px;
  transition: 0.6s;
}

.widget-small-img {
  padding: -3px;
  height: 40px;
  width: 40px;
  border: 1px solid rgb(148, 44, 44);
  border-radius: 50%;
  object-fit: cover;
}

.widget-small-user {
  display: flex;
  flex-direction: column;
}

.widget-small-user-name {
  font-weight: 600;
}

.widget-small-user-title {
  opacity: 0.5;
  font-weight: 300;
}

.widget-small-btn {
  padding: 7px;
  display: flex;
  align-items: center;
  font-weight: 700;
  border: none;
  border-radius: 7px;
  background-color: rgb(164, 86, 236);
  color: white;
}

.widget-small-btn span {
  padding-left: 3px;
}
