.sidebar {
  flex: 1;
  background: #3d3057;
  box-shadow: -4px -4px 16px #d5d5d5, 4px 4px 16px #d5d5d5;
  position: sticky;
  top: 55px;

  height: calc(100vh - 55px);
  color: white;
  font-weight: 630;
  font-size: 1.3rem;
  overflow-y: scroll;
}

.logoWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 2% 0;

  transition: 0.6s;
}

.logoWrapper:hover {
  transform: scale(1.1);
  transition: 0.6s;
}

.logo1 {
  width: 50%;
  align-self: center;
}

.sidebarListItem {
  padding: 7px 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  opacity: 0.8;
  /* border-bottom: 1px solid rgb(172, 171, 171); */
  cursor: pointer;
  transition: 0.6s;
  overflow: hidden;
  margin-right: 10px;
  border-radius: 5px;
  list-style: none !important;
  color: white;
  text-decoration: none;
}
.sidebarListItem:hover {
  transform: translate(10px, 0);
  transition: 0.6s;
  background-color: blueviolet;
  color: white;
}

.sidebarListItem > .listWrapper {
  display: flex;
  align-items: center;
}
.sidebarListItem > .listWrapper > span {
  margin-left: 5px;
}
